<div class="content-message d-flex flex-column" id="message-<%= message.id %>">
  <!--check if is current user -->
  <% if message.user == current_user %>
    <div class="container d-flex flex-row-reverse">
      <% if message.user.photo.attached? %>
        <%= cl_image_tag message.user.photo.key, class:"avatar-large m-auto" %>
      <% else %>
        <%= image_tag "blank-profile-picture.png", class:"avatar-large" %>
      <% end %>
      <div class="container d-flex flex-column">
        <p class="text-warning message-other"><%= message.user.username %></p>
        <p class="message-other"><%= message.content%></p>
      </div>
    </div>
    <!--another user side -->
  <% else %>
    <div class="container d-flex flex-row">
      <% if message.user.photo.attached? %>
        <%= cl_image_tag message.user.photo.key, class:"avatar-large m-auto" %>
      <% else %>
        <%= image_tag "blank-profile-picture.png", class:"avatar-large" %>
      <% end %>
      <div class="container d-flex flex-column">
        <p class="text-warning message-p"><%= message.user.username %></p>
        <p><%= message.content%></p>
      </div>
    </div>
  <% end %>
  <% if message.photo.attached? %>
    <div class="container d-flex justify-content-center my-2">
      <%= cl_image_tag message.photo.key, :width => 200, class:"m-auto message-img"%>
    </div>
  <% else %>
    <div class="d-none"></div>
  <% end %>
</div>
