
<div class="ro-wrapper wireframe dark_purple_background">
  <div class="ro-container wireframe" style="">
    <h1>Make your artist page</h1>
  </div>
</div>
<div class="ro-wrapper wireframe dark_purple_background">
  <div class="ro-container wireframe" style="">
    <div class="container">

      <%= simple_form_for @artist do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <p>Enter social media urls.</p>
        <%= f.input :facebook %>
        <%= f.input :twitter %>
        <%= f.input :instagram %>
        <%= f.input :soundcloud %>
        <%= f.input :spotify %>
        <%= f.input :photo, as: :file, label: "Image" %>
        <%= f.submit :Submit, class:"btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
