<div class="container">
  <div class="d-flex justify-content-between mt-3">
    <%= image_tag "https://www.aceshowbiz.com/images/photo/shakira.jpg", class:"avatar-large" %>
    <div class="container d-flex align-content-center justify-content-around flex-column">
      <div class="profile-top">
        <h3 class="m-0"><%= @artist.name %></h3>
        <div class="social-media">
          <% if @artist.facebook.present? %>
            <a href="https://<%= @artist.facebook %>"><i class="fab fa-facebook-square"></i></a>
          <% else %>
            <a href="https://<%= @artist.facebook %>" style="color: grey"><i class="fab fa-facebook-square"></i></a>
          <% end %>
          <% if @artist.instagram.present? %>
            <a href="https://<%= @artist.instagram %>"><i class="fab fa-instagram"></i></a>
          <% else %>
            <a href="https://<%= @artist.instagram %>" style="color: grey"><i class="fab fa-instagram"></i></a>
          <% end %>
          <% if @artist.soundcloud.present? %>
            <a href="https://<%= @artist.soundcloud %>"><i class="fab fa-soundcloud"></i></a>
          <% else %>
            <a href="https://<%= @artist.soundcloud %>" style="color: grey"><i class="fab fa-soundcloud"></i></a>
          <% end %>
          <% if @artist.spotify.present? %>
            <a href="https://<%= @artist.spotify %>"><i class="fab fa-spotify"></i></a>
          <% else %>
            <a href="https://<%= @artist.spotify %>" style="color: grey"><i class="fab fa-spotify"></i></a>
          <% end %>
        </div>
      </div>
    </div>
    <% if @artist.user_id = current_user %>
      <%= link_to 'Edit', "/", class:'btn-performance' %>
    <% else %>
      <%= link_to 'Follow', "/", class:'btn-performance' %>
    <% end %>
  </div>
  <p><%= @artist.description %></p>
  <div class="container d-flex justify-content-around flex-wrap">
    <div class="container tip-container my-2">
      <h3>TOTAL TIPS</h3>
      <h1><%# @artist.tips.sum(:amount_cents) %> ¥3000</h1>
    </div>
  </div>
