<div class="container">
  <div class="center mt-3">
    <% if @artist.photo.attached?  %>
      <%= cl_image_tag @artist.photo.key, class: "profile-photo" %>
    <% else %>
      <%= image_tag "https://www.aceshowbiz.com/images/photo/shakira.jpg", class:"profile-photo" %>
    <% end %>
  </div>
  <div class="center pt-3">
    <h3 class="display-name"><%= @artist.name %></h3>
  </div>
  <div class="description">
    <p class="center"><%= @artist.description %></p>
  </div>
  <div class="user-buttons">
    <% if @artist.user == current_user %>
      <%= link_to 'Edit', "/", class:'btn profile-btn' %>
    <% else %>
      <%= link_to 'Follow', "/", class:'btn profile-btn' %>
    <% end %>
    <a href="#schedule" class="btn profile-btn">Live Schedule</a>
  </div>
  <div class="sns-container center mb-3">
    <% if @artist.facebook.present? %>
      <a href="https://<%= @artist.facebook %>"><i class="fab fa-facebook-square social-media"></i></a>
    <% else %>
      <div style="display: none;"><%= @artist.facebook %><i class="fab fa-facebook-square social-media"></i></div>
    <% end %>
    <% if @artist.instagram.present? %>
      <a href="https://<%= @artist.facebook %>"><i class="fab fa-instagram social-media"></i></a>
    <% else %>
      <div style="display: none;"><%= @artist.instagram %><i class="fab fa-instagram social-media"></i></div>
    <% end %>
    <% if @artist.soundcloud.present? %>
      <a href="https://<%= @artist.soundcloud %>"><i class="fab fa-soundcloud social-media"></i></a>
    <% else %>
      <div style="display: none;"><%= @artist.soundcloud %><i class="fab fa-soundcloud social-media"></i></div>
    <% end %>
    <% if @artist.spotify.present? %>
      <a href="https://<%= @artist.spotify %>"><i class="fab fa-spotify social-media"></i></a>
    <% else %>
      <div style="display: none;"><%= @artist.spotify %>><i class="fab fa-spotify social-media"></i></div>
    <% end %>
  </div>
  <div class="container d-flex justify-content-around flex-wrap">
    <div class="container profile-container my-2">
      <h3>Total Tips</h3>
      <%= render "tips/amount", amount: @artist.tips.sum(:amount_cents) %>
    </div>
  </div>
  <div class="container">
    <div class="container my-2">
      <h5>Photos from live</h5>
    </div>
    <div class="uploaded-photos ">
      <%# @artist.photos do |photo| %>
        <%# image_tag photo.first(9) %>
        <%# end %>
        <%= image_tag "yoyogi2.jpg", class:"uploaded-photo" %>
        <%= image_tag "yoyogi3.jpg", class:"uploaded-photo" %>
        <%= image_tag "yoyogi-park-tokyo.jpg", class:"uploaded-photo" %>
      </div>
      <div id="schedule" style="padding-top: 100px;">
        <div class="upcoming">
          <h3>Upcoming Performance</h3>
          <div class="container schedules">
            <% Performance.where(artist:@artist).select  do |performance| %>
              <% if performance.upcoming? %>
                <h3>Upcoming Performance</h3>
                <div class="schedule profile-container pt-3 mb-3">
                  <%= link_to performance_path(performance) do %>
                    <h4><%= performance.name %></h4>
                    <p><em class="fas fa-map-marker-alt text-light"></em> <%= performance.address %></p>
                    <p><em class="far fa-calendar-alt"></em> <%= performance.start_time.strftime("%Y/%m/%d") %></p>
                    <p><em class="far fa-clock"></em> <%= performance.start_time.strftime("%H:%M") %>- <%= performance.end_time.strftime("%H:%M") %></p>
                  <% end %>
                <% else %>
                  <p><%= "No upcoming performances on the way" %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="archived">
          <h4>Archived Performances</h4>
          <div class="container schedules">
            <% Performance.where(artist:@artist).select  do |performance| %>
              <% if performance.archived? %>
                <div class="schedule profile-container pt-3 mb-3">
                  <%= link_to performance_path(performance) do %>
                    <h4><%= performance.name %></h4>
                    <p><em class="fas fa-map-marker-alt text-light"></em> <%= performance.address %></p>
                    <p><em class="far fa-calendar-alt"></em> <%= performance.start_time.strftime("%Y/%m/%d") %></p>
                    <p><em class="far fa-clock"></em> <%= performance.start_time.strftime("%H:%M") %></p>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <% if @artist.performances.length > 3 %>
              <h6 style="text-align: end;">View more</h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
