 <!-- Raibuon search bar -->
<div class="wireframe searchbar-main <%= display_class %>" style="z-index: 99; position: relative;">
  <%= form_tag performances_path, method: :get do %>
    <div class="ro-search-bar-container wireframe" style="">
      <%= text_field_tag :query,
      params[:query],
      class: "ro-search-bar__bar ro-font-main",
      placeholder: "artist, genre, or location"
      %>
      <%= button_tag(type: "Search", class: "ro-search-bar__button") do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>
  <!-- QR scan link within search container -->
  <%= render 'shared/qr_button', display_class: "wide-screen-buttons" %>
</div>
