<div class="<%= display_class %>" id="navbarSupportedContent" style="position: relative; z-index:99;">

  <ul class="navbar-nav mr-auto" style="">
    <% if user_signed_in? %>
      <li class="nav-item dropdown wireframe" style="">
        <%# <% if display_class == "top-nav-icons" %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", style: "width: 50px; height: 50px; ", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <div class="ro-navbar__user-login-icon-container">
            <i class="fas fa-user ro-navbar__user-login-icon" style=""></i>
          </div>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="position: fixed; z-index:99; background-color: #fff;">
          <%= link_to "Action", "#", class: "dropdown-item", style: "background-color: #fff; color: yellow;" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="wireframe" style="">
        <%= link_to new_user_session_path, class: "ro-navbar__user-login-icon-container wireframe", style: ""  do %>
          <i class="fas fa-user ro-navbar__user-login-icon" style=""></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
