<td>
  <h6><%= artist.name %></h6>
</td>
<td>
  <h6>¥<%= artist.tips_total %></h6>
</td>
<td>
  <% performances = Performance.where(artist: artist) %>
  <% if performances.first.live? %>
    <%= link_to performance_path(performances.first) do %>
      <h6 class="live-button-red">LIVE</h6>
    <% end %>
  <% elsif performances.first.live_today? %>
    <%= link_to performance_path(performances.first) do %>
      <h6 class="live-button-blue">LIVE Today!</h6>
    <% end %>
  <% else %>
    <h6> <%= "    " %></h6>
  <% end %>
</td>
