<div data-test-target="list" class="card-row">
  <% @performances.each do |performance| %>
    <%# <div data-test-target="items" class=""> %>
    <%# <i class="far fa-heart"></i> %>
    <%= link_to performance_path(performance), class: "small-cards" do %>
      <% if performance.artist.photo.attached? %>
        <%= cl_image_tag performance.artist.photo.key, height: 300, width: 400, crop: :fill, class:"perf-card-sm" %>
      <% else %>
        <%= image_tag "https://miro.medium.com/max/1400/0*D2xr7G_v2nbI9eiB", height: 300, width: 400, crop: :fill, class:"perf-card-sm" %>
      <% end %>
      <div class="perf-text-sm">
        <p><strong><%= performance.artist.name %></strong></p>
        <p><em class="fas fa-map-marker-alt text-light"></em>  <%= performance.address %> </p>
      </div>
    <% end %>
  <% end %>
</div>
