<h3>Tip Rankings</h3>
<% all_tips = [nil] %>
<% artist_tips = [] %>
<% num = 1 %>
<% while num <= Artist.count do %>
  <% @tips.select do |tip| %>
    <% if tip.performance.artist_id == num %>
      <% artist_tips << tip %>
    <% end %>
  <% end %>
  <% all_tips << artist_tips %>
  <% num += 1 %>
  <% artist_tips = [] %>
<% end %>
<%= all_tips %>
<p>1. <%= all_tips[1].first.performance.artist.name %>  ----- Total tips: 짜<%= all_tips[1].amount %></p>
<p>2. <%= Artist.find(2).name %>  ----- Total tips: 짜<%= all_tips[2].amount %></p>
<p>3. <%= Artist.find(3).name %>  ----- Total tips: 짜<%= all_tips[3].amount %></p>
<p>4. <%= Artist.find(4).name %>  ----- Total tips: 짜<%= all_tips[4].amount %></p>
