<h3>Artist Rankings</h3>
<div class="card-trip">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <h6><strong>#</strong></h6>
          </th>
          <th scope="col">
            <h6><strong>Artist Name</strong></h6>
          </th>
          <th scope="col">
            <h6><strong>Total Tips</strong></h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <% num = 1 %>
        <% artist_ranking.each do |artist| %>
          <tr>
            <th scope="row">
              <h6><%= num %></h6>
            </th>
            <td>
              <h6><%= artist.name %></h6>
            </td>
            <td>
              <h6>¥<%= artist.tips_total %></h6>
            </td>
            <td>
              <% performances = Performance.where(artist: artist) %>
              <% if performances.first.live? %>
                <%= link_to performance_path(performances.first) do %>
                  <h6 class="live-button-red">LIVE</h6>
                <% end %>
              <% elsif performances.first.live_today? %>
                <%= link_to performance_path(performances.first) do %>
                  <h6 class="live-button-blue">LIVE Today!</h6>
                <% end %>
              <% else %>
                <h6> <%= "    " %></h6>
              <% end %>
            </td>
          </tr>
          <% num += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
