<h3>Artist Rankings</h3>
<div data-controller="rankings" class="card-trip">
  <div data-action="click->rankings#reveal">
    <p>Show all</p>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <h6><strong>#</strong></h6>
          </th>
          <th scope="col">
            <h6><strong>Artist Name</strong></h6>
          </th>
          <th scope="col">
            <h6><strong>Total Tips</strong></h6>
          </th>
          <th scope="col">
            <h6><strong>Shows</strong></h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <% artist_ranking.first(3).each_with_index do |artist, index| %>
          <tr>
            <th scope="row">
              <h6><%= index + 1 %></h6>
            </th>
            <td>
              <h6><%= artist.name %></h6>
            </td>
            <td>
              <h6>¥<%= artist.tips_total %></h6>
            </td>
            <td>
              <% performances = Performance.where(artist: artist) %>
              <% if performances.first.live? %>
                <%= link_to performance_path(performances.first) do %>
                  <h6 class="live-button-red">LIVE</h6>
                <% end %>
              <% elsif performances.first.live_today? %>
                <%= link_to performance_path(performances.first) do %>
                  <h6 class="live-button-blue">LIVE Today!</h6>
                <% end %>
              <% else %>
                <h6> <%= "    " %></h6>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% artist_ranking[3..-1].each_with_index do |artist, index| %>
          <tr data-rankings-target="artist" data-action="click->rankings#showRankings">
            <th scope="row">
              <h6><%= index + 4 %></h6>
            </th>
            <td>
              <h6><%= artist.name %></h6>
            </td>
            <td>
              <h6>¥<%= artist.tips_total %></h6>
            </td>
            <td>
              <% performances = Performance.where(artist: artist) %>
              <% if performances.first.live? %>
                <%= link_to performance_path(performances.first) do %>
                  <h6 class="live-button-red">LIVE</h6>
                <% end %>
              <% elsif performances.first.live_today? %>
                <%= link_to performance_path(performances.first) do %>
                  <h6 class="live-button-blue">LIVE Today!</h6>
                <% end %>
              <% else %>
                <h6> <%= "    " %></h6>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
