<div data-controller="test" class="container">
  <br>
  <%= render "form" %>
  <h3>Live now</h3>
  <% first_performance = @performances.first%>
  <% if first_performance %>
    <%= link_to performance_path(first_performance) do %>
      <div class="perf-card-lg">
        <div class="upper-components">
          <i class="far fa-heart"></i>
          <div class="live-button">
            <p>LIVE</p>
          </div>
        </div>
        <%= image_tag "https://miro.medium.com/max/1400/0*D2xr7G_v2nbI9eiB", height: 600, width: 800, crop: :fill, class:"perf-card-lg" %>
        <div class="perf-text">
          <p><strong><%= first_performance.artist.name %></strong></p>
          <p><em class="fas fa-map-marker-alt text-light"></em>  <%= first_performance.address %></p>
          <p><em class="far fa-clock"></em> <%= first_performance.start_time %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <h3>More shows</h3>
  <%= render "list", performances: @performances %>
  <br>
  <h3>Explore more shows</h3>
</div>
