<div data-controller="test" class="">
  <!-- thin spacer white -->
  <div class="ro-wrapper wireframe white_background">
    <div class="ro-container wireframe white_background" style="height: 25px;">
    </div>
  </div>
  <!-- map title section -->
  <div class="ro-wrapper wireframe white_background">
    <div class="ro-container wireframe" style="">
      <h3 class="wireframe section-title background-color_text" style="width: 100%;"><%= @performances.all.count %> upcoming shows and performances across Japan</h3>
    </div>
  </div>
  <!-- map section -->
  <div class="ro-wrapper wireframe"  style="flex-direction: column; position: relative;">
    <div class="overlay-wrapper">
      <div class="ro-container wireframe" style="">
        <div class="big-center-card" style="">
          <div id="map"
          style="width: 100%; height: 100%;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
    <!-- background colors -->
    <div class="wrapper ro-wrapper home-halfscreen-upper half_and_half-wrapper white_background"  style=""></div>
    <div class="wrapper ro-wrapper home-halfscreen-lower half_and_half-wrapper main-color_background"  style=""></div>
  </div>
  <!-- spacer dark purple -->
  <%= render "shared/section_spacer", background_color: "dark_purple_background"  %>
  <!-- tip ranking -->
  <div class="ro-wrapper wireframe dark_purple_background">
    <div class="ro-container wireframe" style="justify-content: start;">
      <%= render "tip_ranking", artist_ranking: @artist_ranking %>
    </div>
  </div>
  <div class="ro-wrapper wireframe dark_purple_background">
    <div class="ro-container wireframe" style="justify-content: start;">
      <h3 class="wireframe section-title">Live today</h3>
    </div>
  </div>
  <!-- The New Owl Carousel-->
  <div class="ro-wrapper wireframe dark_purple_background">
    <div class="ro-container wireframe" style="justify-content: start;">
      <div id="owl-performances-index" class="photo-container my-3 owl-carousel owl-theme">
        <% one_performance = @performances.sample %>
        <% first_performance = @performances.first %>
        <% last_performance = @performances.last %>
        <% while [first_performance, last_performance].include?(one_performance) %>
          <% one_performance = @performances.sample %>
        <% end %>
        <!-- item 1 -->
        <div class="list1">
          <div class="upper-components">
            <i style="color: white" class="far fa-heart"></i>
            <div class="live-button">
              <p>LIVE</p>
            </div>
          </div>
          <%= link_to performance_path(one_performance) do %>
            <% if one_performance.artist.photo.attached? %>
              <%= cl_image_tag one_performance.artist.photo.key, height: 600, width: 800, crop: :fill, class:"perf-card-lg" %>
            <% else %>
              <%= image_tag "https://miro.medium.com/max/1400/0*D2xr7G_v2nbI9eiB", height: 600, width: 800, crop: :fill, class:"perf-card-lg" %>
            <% end %>
            <div class="perf-text mauve_background">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h5 class="live-now-card-text"><strong><%= one_performance.artist.name %></strong></h5>
                <p class="live-now-card-text"><em class="fas fa-map-marker-alt text-light"></em>  <%= one_performance.address %></p>
              </div>
              <p class="live-now-card-text"><strong><%= one_performance.name %></strong></p>
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p class="live-now-card-text"><em class="far fa-calendar-alt"></em> <%= one_performance.start_time.strftime("%Y/%m/%d") %></p>
                <p class="live-now-card-text"><em class="far fa-clock"></em> <%= one_performance.start_time.strftime("%H:%M") %></p>
              </div>
            </div>
          <% end %>
        </div>
        <!-- item 2 -->
        <div class="list2">
          <%= link_to performance_path(first_performance) do %>
            <% if first_performance.artist.photo.attached? %>
              <%= cl_image_tag first_performance.artist.photo.key, height: 600, width: 800, crop: :fill, class:"perf-card-lg" %>
            <% else %>
              <%= image_tag "https://miro.medium.com/max/1400/0*D2xr7G_v2nbI9eiB", height: 600, width: 800, crop: :fill, class:"perf-card-lg" %>
            <% end %>
            <div class="perf-text mauve_background">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h5 class="live-now-card-text"><strong><%= first_performance.artist.name %></strong></h5>
                <p class="live-now-card-text"><em class="fas fa-map-marker-alt text-light"></em>  <%= one_performance.address %></p>
              </div>
              <p class="live-now-card-text"><strong><%= first_performance.name %></strong></p>
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p class="live-now-card-text"><em class="far fa-calendar-alt"></em> <%= one_performance.start_time.strftime("%Y/%m/%d") %></p>
                <p class="live-now-card-text"><em class="far fa-clock"></em> <%= one_performance.start_time.strftime("%H:%M") %></p>
              </div>
            </div>
          <% end %>
        </div>
        <!-- item 3 -->
        <div class="list3">
          <%= link_to performance_path(last_performance) do %>
            <% if last_performance.artist.photo.attached? %>
              <%= cl_image_tag last_performance.artist.photo.key, height: 600, width: 800, crop: :fill, class:"perf-card-lg" %>
            <% else %>
              <%= image_tag "https://miro.medium.com/max/1400/0*D2xr7G_v2nbI9eiB", height: 600, width: 800, crop: :fill, class:"perf-card-lg" %>
            <% end %>
            <div class="perf-text mauve_background">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h5 class="live-now-card-text"><strong><%= last_performance.artist.name %></strong></h5>
                <p class="live-now-card-text"><em class="fas fa-map-marker-alt text-light"></em>  <%= one_performance.address %></p>
              </div>
              <p class="live-now-card-text"><strong><%= last_performance.name %></strong></p>
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p class="live-now-card-text"><em class="far fa-calendar-alt"></em> <%= one_performance.start_time.strftime("%Y/%m/%d") %></p>
                <p class="live-now-card-text"><em class="far fa-clock"></em> <%= one_performance.start_time.strftime("%H:%M") %></p>
              </div>
            </div>
          <% end %>
        </div>
        <!-- end of carousel items -->
      </div>
    </div>
  </div>
</div>
<!-- spacer dark purple -->
<%= render "shared/section_spacer", background_color: "dark_purple_background"  %>
<!-- The Performances Index -->
<div class="ro-wrapper wireframe dark_purple_background">
  <div class="ro-container wireframe" style="">
    <h3 class="wireframe section-title">More shows coming up</h3>
  </div>
</div>
<div class="ro-wrapper wireframe dark_purple_background">
  <div class="ro-container wireframe" style="">
    <%#= render "list", performances: @performances %>
    <%= render "new_list", performances: @performances  %>
  </div>
</div>
</div>
</div>
