<div class="container">
  <br>
  <h3>Live now</h3>
  <% first_performance = @performances.first%>
  <%= link_to performance_path(first_performance) do %>
    <div class="perf-card-lg">
      <div class="upper-components">
        <i class="far fa-heart"></i>
        <div class="live-button">
          <p>LIVE</p>
        </div>
      </div>
      <div class="perf-text">
        <p><strong><%= first_performance.artist.name %></strong></p>
        <%# <i class="far fa-map-marker-alt"></i>  %>
        <p>[ICON] <%= first_performance.address %></p>
        <p>[ICON] 18:00 - 20:00</p>
      </div>
    </div>
  <% end %>
  <h3>More shows</h3>
  <div class="card-row">
    <% @performances.each do |performance| %>
<<<<<<< HEAD
      <div class="perf-card-sm col-6" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/KOHH2016.jpg/800px-KOHH2016.jpg');">
        <div class="perf-text">
          <p><strong><%= performance.artist.name %></strong></p>
          <p><i class="fas fa-map-marker-alt"></i> <%= performance.address %></p>
        </div>
=======
      <div class="perf-card-sm col-5">
        <%= link_to performance_path(performance) do %>
          <i class="far fa-heart"></i>
          <div class="perf-text-sm">
            <p><strong><%= performance.artist.name %></strong></p>
            <p>[ICON] <%= performance.address %></p>
          </div>
        <% end %>
>>>>>>> 8668d3a80383ea25f9353b9708199cb4c3076211
      </div>
    <% end %>
  </div>
</div>
