<!--Streaming part / photo part -->
<div class="container">
  <div class="container title-container my-2">
    <div class="container d-flex justify-content-between">
      <%= link_to artist_path(@performance.artist), class: "d-flex m-auto" do %>
        <% if @performance.artist.photo.attached?  %>
          <%= cl_image_tag @performance.artist.photo.key, class: "avatar-large" %>
        <% else %>
          <%= image_tag "https://www.aceshowbiz.com/images/photo/shakira.jpg", class:"avatar-large" %>
        <% end %>
        <div class="container d-flex align-content-center justify-content-around flex-column">
          <h3 class="m-0 text-center"><%= @performance.artist.name %></h3>
        </div>
      <% end %>
      <% if @performance.artist.user.username == @current_user.username %>
        <%= link_to 'Edit', "/", class:'btn-performance' %>
      <% end %>
    </div>
  </div>
  <!--Carousel-->
  <div class="photo-container my-3 owl-carousel owl-theme">
    <%= image_tag "yoyogi2.jpg" %>
    <%= image_tag "yoyogi3.jpg" %>
    <%= image_tag "yoyogi-park-tokyo.jpg" %>
  </div>
</div>
<!-- Cards space-->
<div class="container d-flex justify-content-around flex-wrap">
  <div class="container tip-container my-2">
    <h3>TIPS TODAY!</h3>
    <%= render "tips/amount", amount: @performance.tips.sum(:amount_cents) %>
  </div>
  <!--Messages container-->
  <div class="container message-container my-2 w-100" data-controller="display-messages">
    <!--Extension messages area-->
    <h3 class="my-3">Messages and Tips!</h3>
    <div id="messages" class="container messages-content messages-content-large" data-display-messages-target="box" data-performance-id="<%= @performance.id %>">
      <% @messages_tips.each do |element| %>
        <% if element.is_a?(Message) %>
          <%= render "messages/message", message: element %>
        <% else %>
          <%= render "tips/tip", tip: element %>
        <% end %>
      <% end %>
    </div>
    <p data-display-messages-target="display" data-action="click->display-messages#display">View <%= @performance.messages.count + @performance.tips.count%> more messages</p>
    <h5>Comment here!</h5>
    <%= simple_form_for [@performance, @message], remote: true do |f| %>
      <%= f.input :content, label: false %>
      <%= f.button :submit, value: 'send!', class:'w-100' %>
      <%= f.input :photo, as: :file, label: false, input_html: { class:'d-none'} %>
    <% end %>
  </div>
</div>
<!--Messages box-->
