<!--Streaming part / photo part -->
<div class="title-container">
  <div class="d-flex justify-content-between p-2 ml-3">
    <%= link_to artist_path(@performance.artist), class: "d-flex m-auto" do %>
      <% if @performance.artist.photo.attached?  %>
        <%= cl_image_tag @performance.artist.photo.key, class: "avatar-large" %>
      <% else %>
        <%= image_tag "https://www.aceshowbiz.com/images/photo/shakira.jpg", class:"avatar-large" %>
      <% end %>
    <% end %>
    <div style="display: flex flex-direction: column;">
      <div class="container d-flex align-content-center justify-content-around flex-column">
        <div class="d-flex bd-highlight">
          <h3 class="m-0 w-100 bd-highlight"><%= @performance.artist.name %></h3>
          <% if @performance.artist.user == current_user %>
            <%= link_to 'Edit', "/", class:'btn-performance flex-shrink-1 bd-highlight', style:'width: 110px; height:30px;' %>
          <% else %>
            <%= link_to 'Follow', "/", class:'btn-performance flex-shrink-1 bd-highlight', style:'width: 110px; height:30px;' %>
          <% end %>
        </div>
        <!-- stuff above -->
        <p class="m-0"><%= @performance.name %></p>
      </div>
      <!-- stuff below -->
      <div class="details pl-2" style="width: 260px;">
        <div class="mb-0 d-flex bd-highlight">
          <div class="pl-2 flex-grow-1 bd-highlight">
            <p><em class="fas fa-map-marker-alt text-light"></em> <%= @performance.address %></p>
          </div>
          <div class="pr-2 bd-highlight">
            <p><em class="mb-0 far fa-calendar-alt"></em> <%= @performance.start_time.strftime("%Y/%m/%d") %></p>
          </div>
          <div class="mb-0 bd-highlight">
            <p><em class="far fa-clock"></em> <%= @performance.start_time.strftime("%H:%M") %>- <%= @performance.end_time.strftime("%H:%M") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background: linear-gradient(blue, pink);">
  <div class="performance-photos">
    <div class="tips-today">
      <p class="m-0">Tips</p>
      <%= render "tips/amount", amount: @performance.tips.where(state: "paid").sum(:amount_cents) %>
    </div>
    <div id="owl-one" class="photo-container mb-3 owl-carousel owl-theme ">
      <!--Carousel-->
      <%= image_tag "yoyogi2.jpg", class:"performance-photo" %>
      <%= image_tag "yoyogi3.jpg", class:"performance-photo" %>
      <%= image_tag "yoyogi-park-tokyo.jpg", class:"performance-photo" %>
    </div>
  </div>
</div>
<!-- Cards space-->
<!--Messages container-->
<div class="container">
  <div class="container message-container my-2 w-100" data-controller="display-messages" data-user-id="<%= current_user.id %>">
    <!--Extension messages area-->
    <% if @messages_tips.length == 0 %>
      <p><%= "Nothing to show yet" %></p>
    <% else %>
      <div id="messages" class="container messages-content messages-content-large" data-display-messages-target="box" data-performance-id="<%= @performance.id %>">
        <% @messages_tips.each do |element| %>
          <% if element.is_a?(Message) %>
            <%= render "messages/message", message: element %>
          <% else %>
            <%= render "tips/tip", tip: element %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if @messages_tips.length < 1 %>
      <p data-display-messages-target="display"  data-action="click->display-messages#display">View <%= @performance.messages.count + @performance.tips.count%> more messages</p>
    <% end %>
    <h5>Comment here!</h5>
    <%= simple_form_for [@performance, @message], remote: true do |f| %>
      <%= f.input :content, label: false %>
      <%= f.button :submit, value: 'send!', class:'w-100' %>
      <%= f.input :photo, as: :file, input_html: { class:'d-none'}, label_html: { class: 'btn w-100 ml-2', label: 'Upload a photo'}%>
    <% end %>
  </div>
</div>
<!--Messages box-->
