<!DOCTYPE html>
<html>
  <head>
    <title>Raibuon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/assets/raibuon.ico">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/nav-top_bar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/nav-bottom_bar' %>
    <%= render 'shared/footer' %>
  </body>
</html>
