<!DOCTYPE html>
<html>
  <head>
    <title>Raibuon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="/assets/raibuon.ico">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body>
    <%= render 'shared/nav-top_bar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/nav-bottom_bar' %>
    <%= render 'shared/footer' %>
  </body>
</html>
