<!DOCTYPE html>
<html>
  <head>
    <title>RaibuOn - Music to Discover</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="/assets/raibuon.ico">
    <!-- OG Facebook -->
    <meta property="og:url" content="https://raibuon.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Raibuon" />
    <meta property="og:description" content="Raibuon. Live music near you." />
    <meta property="og:image" content="raibuon-og-image.png" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@flickr" />
    <meta name="twitter:title" content="Raibuon" />
    <meta name="twitter:description" content="Raibuon. Live music near you." />
    <meta name="twitter:image" content="raibuon-og-image.png" />
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body>
    <%= render 'shared/nav-top_bar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/nav-bottom_bar' %>
    <%= render 'shared/footer' %>
  </body>
</html>
